/* BAOBAB Project
*
* /sass/object/actualite.scss - Non design of actualite stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.lastactu{
  width:90em;
  margin: auto;
  &__title{
    margin:4.309em 0em 1.69em 0.2em;
  }
}
.actu{
  width: 29.7em;
  margin-left: 1.2em;
  display: inline-block;
  &:last-child{
    float: right;
    margin-right: 3.1em;
  }
  &__info{
    margin-top:-2px;
  }
  &__text{
    padding-bottom:2.4em;
  }
  &__button{
    display: block;
    width:10em;
    height:2.85em;
    margin:-1.5em auto;
  }
}
