/* BAOBAB Project
*
* /sass/object/decoration.scss - Non design of decoration stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.decoration{
  height:50em;
  &__title{
    width:11em;
    margin-left: 3.1em;
  }
  &__image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:46.24505929%;
    max-height:430px;
  }
}
@media screen and (max-width:700px) {
  .decoration{
    &__image{
      width:80%;
    }
  }
}
@media screen and (max-width:577px) {
  .decoration{
    &__image{
      width:80%;
    }
    &__title{
      margin-left: 2.1em;
    }
  }
}
@media screen and (max-width:516px) {
  .decoration{
    &__title{
        width:8em;
        margin-left: 0;
        margin:auto;
    }
  }
}
