/* BAOBAB Project
 *
 * /sass/object/mainimage.scss - Design of mainimage stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
 .mainimage{
     min-height:65.9vh;
   &__title{
     text-align: center;
     position: relative;
   }
   &__subtitle{
     margin-right:7.14289em;
     text-align:right;
     display: block;
     margin-bottom: 3em;
   }
   &__button{
    display:block;
    height:76px;
    width:12.412916667em;/*292+5/2.4*/
    vertical-align:middle;
    position: relative;
    left:-50px;
    margin:auto;
   }
 }
 @media screen and (max-width:545px) {
   .mainimage{
     &__subtitle{
       margin-right:1.5em;
     }
   }
 }
 @media screen and (max-width:413px) {
   .mainimage{
     &__button{
       position:static;
     }
   }
 }
