/* BAOBAB Project
 *
 * /sass/object/footer.scss - non design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 24/04/2016
 */
.footer{
  height:auto;
  margin-top:10em;
  &__container{
    width:100%;
    margin: auto;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
}

.follow{
  display: inline-block;
}
.contact{
  display: inline-block;
  float: right;
  margin-right:8em;
}
@media screen and (max-width:727px) {
  .footer{
    padding:0.5em;
  }
  .follow{
    text-align: center;
    display: block;
  }
  .contact{
    float:none;
    display: block;
    margin:0;
    text-align: center;
    padding-bottom: 2em;
  }
}
