/* BAOBAB Project
*
* /sass/object/actualite.scss - Non design of actualite stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.lastactu{
  max-width:100%;
  text-align: center;
  &::after{
    content:"";
    display: block;
    clear: both;
  }
  &__title{
    margin:1em 0em 1.69em 0;
    text-align: inherit;
  }
}
.actu{
  width: 29.7em;
  height:30em;
  margin-left:-2em;
  margin-bottom: 3em;
  display: inline-block;
  &:first-child{
  float:left;
  }
  &--index{
    &:last-child{
      margin-left:25.9em;
    }
  }
  &__info{
    position: relative;
    top:-2px;
  }
  &__text{
    padding-bottom:2.4em;
  }
  &__button{
    display:block;
    width:10em;
    height:2.85em;
    position:absolute;
    bottom:-20px;
    left:70px;
  }
}
@media screen and (max-width:913px) {
  .lastactu{
    width: 100%;
  }

}
@media screen and (max-width:882px) {
  .actu{
    &:last-child{
      margin-left: 1em;
    }
  }
}
@media screen and (max-width:636px) {
  .lastactu{
    width:30em;
    margin: auto;
  }
  .actu{
    &:last-child{
      display:none;
    }
  }
}
@media screen and (max-width:375px) {
  .lastactu{
    width:95%;
    margin:0;
    margin:auto;
  }
  .actu{
    width:90%;
    margin: 0;
    margin:auto;
    & img{
      width:100%;
      margin: auto;
    }
  }
}
