/* BAOBAB Project
*
* /sass/object/diffusion.scss - NON design of diffusion stylesheet
*
* coded by Dylan Schirino
* started at 05/05/2016
*/

.diffusion{
  position:relative;
    margin-bottom: -10em;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  &__title{
    text-align:left;
  }
  &__form{
    width:31.6%;
    margin: auto;
  }
  & input:not([type="submit"]){
    width:100%;
    height: 2.6em;
  }
  & textarea{
    width:100%;
    height:9.3em;
  }
  #city ,#country{
    width:45%;
  }
  &__submit{
    width: 8.75em;
    height:2.25em;
    display: block;
    margin-top: 1.25em;
    float: right;
  }
  &__figure{
    display: inline-block;
    margin-left:12em;
    margin-top:-10em;
  }
}

@media screen and (max-width:760px) {
  .diffusion{
    &__figure{
      display: block;
      margin-left: 1em;
      margin-top: 0;
    }
    &__form{
    min-width:90%;
    margin: auto;
    }
  }
}
