/* BAOBAB Project
*
* /sass/object/subheader.scss - non design of subheader stylesheet
*
* coded by Dylan Schirino
* started at 21/04/2016
*/
.subheader{
  width: 100%;
  height:2.222em;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  &__element{
    display: inline-block;
    &:first-child{
      margin-left: 2.4em;
    }
    &--right{
      float:right;
      margin-right:1em
    }
  }
  &__link{
    margin-right:1em;
  }
}


@media screen and (max-width:763px) {
  .subheader{
    &__menu{
      font-size: 1em;
    }
    &__element{
      &:first-child{
        margin-left:1em;
      }
    }
  }
}
@media screen and (max-width:542px) {
  .subheader{
    &__element{
      &:first-child{
        margin-left:1em;
      }
    }
    &__link{
      padding:0;
      margin: 0;
    }
  }
}
@media screen and (max-width:378px){
  .subheader{
    &__link{
      margin-top:1em;
    }
  }
}
