@charset "UTF-8";
/* BAOBAB Project
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Bold.eot");
  src: url("../fonts/quicksand/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Bold.woff") format("woff"), url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Bold.svg#Quicksand-Bold") format("svg");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Regular.eot");
  src: url("../fonts/quicksand/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"), url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Regular.svg#Quicksand-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Amatic';
  src: url("../fonts/amatic/AmaticSC-Regular.eot");
  src: url("../fonts/amatic/AmaticSC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/amatic/AmaticSC-Regular.woff") format("woff"), url("../fonts/amatic/AmaticSC-Regular.ttf") format("truetype"), url("../fonts/amatic/AmaticSC-Regular.svg#AmaticSC-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'glyphs';
  src: url("../fonts/glyphs/icomoon.eot?zdlgbo");
  src: url("../fonts/glyphs/icomoon.eot?zdlgbo#iefix") format("embedded-opentype"), url("../fonts/glyphs/icomoon.ttf?zdlgbo") format("truetype"), url("../fonts/glyphs/icomoon.woff?zdlgbo") format("woff"), url("../fonts/glyphs/icomoon.svg?zdlgbo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, label {
  display: none; }

.subheader__title {
  display: none; }

.mainmenu__title {
  display: none; }

.decoration__title {
  display: none; }

/* Technique préconisé par anysurfer pour que le texte soit visible par les navigateur vocaux mais pas sur la page */
.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
html {
  font: 62.5% "Quicksand", Arial, sans-serif; }

body {
  background: url("../img/grille.png") center center;
  opacity: .8; }

h1, h2, h3 {
  font-family: "Amatic", sans-serif; }

a {
  text-decoration: none; }

/* BAOBAB Project
 *
 * /sass/object/subheader.scss - non design of subheader stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.subheader {
  width: 100%;
  height: 2.222em; }
  .subheader::after {
    content: "";
    display: block;
    clear: both; }
  .subheader__element {
    display: inline-block; }
    .subheader__element:first-child {
      margin-left: 2.4em; }
    .subheader__element--right {
      float: right; }
  .subheader__link {
    margin-right: 1em; }
  .subheader__search {
    width: 16.3em;
    height: 23px;
    position: relative;
    top: -3px;
    margin-right: 3.6em; }
  .subheader__submit {
    height: 1.6em;
    position: absolute;
    right: 4em;
    top: 1.4em;
    width: 2.5em; }

/* BAOBAB Project
 *
 * /sass/object/header.scss - non design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.mainmenu {
  height: 15.4em; }
  .mainmenu::after {
    content: "";
    display: block;
    clear: both; }
  .mainmenu__logo {
    width: 13.2em;
    height: 13.2em;
    margin-left: 4em;
    margin-right: 2.8em;
    float: left; }
  .mainmenu__element {
    margin-top: 3.8em; }
  .mainmenu__link {
    margin-right: 1.944em;
    /* 35/1.8em*/ }
    .mainmenu__link--donate {
      margin: 1em 0em 0em 0.2em;
      /*40/1.8*/
      position: relative;
      top: -10px; }

/* BAOBAB Project
 *
 * /sass/object/mainimage.scss - Design of mainimage stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.mainimage {
  min-height: 65.9vh; }
  .mainimage__title {
    text-align: center;
    position: relative; }
  .mainimage__subtitle {
    margin-right: 7.14289em;
    text-align: right;
    display: block;
    margin-bottom: 3em; }
  .mainimage__button {
    display: block;
    height: 76px;
    width: 12.412916667em;
    /*292+5/2.4*/
    vertical-align: middle;
    position: relative;
    left: -50px;
    margin: auto; }

/* BAOBAB Project
 *
 * /sass/object/whosbaobab.scss - non design of whosbaobab stylesheet
 *
 * coded by Dylan Schirino
 * started at 23/04/2016
 */
.whosbaobab {
  height: 60em; }
  .whosbaobab__maincontainer {
    width: 90em;
    padding-top: 8em;
    margin: auto; }
    .whosbaobab__maincontainer::after {
      content: "";
      display: block;
      clear: both; }
  .whosbaobab__container {
    width: 30em;
    display: block;
    height: 40.8em;
    margin-left: 8.9em;
    float: left; }
    .whosbaobab__container--right {
      float: right;
      margin-right: 3em; }

.container__link {
  display: block;
  margin: 0.5em auto;
  width: 10em;
  /*140px*/
  height: 2.8571em;
  /*40px*/ }

/* BAOBAB Project
 *
 * /sass/object/doityourself.scss - non design of doityourself stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.doityourself {
  height: 70em; }
  .doityourself__container {
    text-align: center; }
  .doityourself__link {
    margin-left: 2em; }
  .doityourself__image {
    margin-top: 3.7em;
    margin-bottom: 1.5em; }

/* BAOBAB Project
*
* /sass/object/decoration.scss - Non design of decoration stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.decoration {
  height: 50em; }
  .decoration__text {
    width: 11em;
    margin-left: 3.1em; }
  .decoration__image {
    display: block;
    margin-right: auto;
    margin-left: auto; }

/* BAOBAB Project
*
* /sass/object/actualite.scss - Non design of actualite stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.lastactu {
  width: 90em;
  margin: auto; }
  .lastactu__title {
    margin: 4.309em 0em 1.69em 0.2em; }

.actu {
  width: 29.7em;
  margin-left: 1.2em;
  display: inline-block; }
  .actu:last-child {
    float: right;
    margin-right: 3.1em; }
  .actu__info {
    margin-top: -2px; }
  .actu__text {
    padding-bottom: 2.4em; }
  .actu__button {
    display: block;
    width: 10em;
    height: 2.85em;
    margin: -1.5em auto; }

/* BAOBAB Project
 *
 * /sass/object/footer.scss - non design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 24/04/2016
 */
.footer {
  height: 18.6em;
  margin-top: 10em; }
  .footer__container {
    width: 100em;
    margin: auto; }
    .footer__container::after {
      content: "";
      clear: both;
      display: block; }

.follow {
  display: inline-block; }

.contact {
  display: inline-block;
  float: right;
  margin-right: 8em; }

/* BAOBAB Project
 *
 * /sass/components/subheader.scss - Design of subheader stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.subheader {
  background-color: #F89F1F;
  box-shadow: 0px 1px 1px #D16925;
  font-size: 1.6em;
  padding-top: 1em; }
  .subheader__element--right {
    font-size: 0.875em; }
  .subheader__link {
    padding-top: 1em;
    text-decoration: none;
    color: black;
    transition: .2s linear; }
    .subheader__link:hover {
      font-size: 1.3em; }
    .subheader__link--youtube::before {
      color: white;
      content: "";
      font: 1.2em "glyphs"; }
    .subheader__link--facebook::before {
      color: white;
      content: "";
      font: 1.2em "glyphs"; }
  .subheader__search {
    border: none;
    -webkit-appearance: none;
    font-family: "Quicksand", Arial, sans-serif;
    padding-left: 1em; }
  .subheader__submit {
    font-family: "Quicksand", Arial, sans-serif;
    border: none;
    background-color: #E38039;
    transform: skewX(-15deg);
    transition: .2s linear; }
    .subheader__submit:hover {
      cursor: pointer;
      transform: skewX(0deg); }

/* BAOBAB Project
 *
 * /sass/components/header.scss - design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.mainmenu {
  background-color: rgba(173, 104, 63, 0.47); }
  .mainmenu__logo {
    padding: 1.1em 0;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain; }
  .mainmenu__element {
    display: inline-block; }
  .mainmenu__link {
    color: black;
    font: 1.8em/1.7em "Quicksand", Arial, sans-serif;
    display: block;
    text-align: center;
    padding: 0.833em;
    transition: .1s linear; }
    .mainmenu__link:hover {
      border-bottom: 1px solid black;
      transform: scale(1.1); }
    .mainmenu__link--home {
      margin-left: 1.5em; }
      .mainmenu__link--home::before {
        content: "";
        display: block;
        font: 1.6em "glyphs"; }
    .mainmenu__link--video::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--anime::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--project::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--contact::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--donate {
      background-color: #E28139;
      color: white;
      font-size: 1.8em;
      font-weight: bold;
      text-transform: uppercase;
      transform: skewY(-5deg); }
      .mainmenu__link--donate:hover {
        background-color: #D36210;
        border: none;
        transform: scale(1); }

/* BAOBAB Project
 *
 * /sass/components/whosbaobab.scss - design of whosbaobab stylesheet
 *
 * coded by Dylan Schirino
 * started at 23/04/2016
 */
.whosbaobab {
  background: url("../img/quisommesnous.jpg") center fixed;
  color: black; }
  .whosbaobab__container {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    transition: .2s ease-in-out; }
    .whosbaobab__container:hover .container__link {
      background-color: #193E56; }
    .whosbaobab__container--right:hover .container__link {
      background-color: #AD4343; }

.container__title {
  font-size: 3.2em;
  padding-top: 0.78125em;
  /*25/3.2*/
  color: #006BB2; }
  .container__title::after {
    content: "";
    display: block;
    font: 3em "glyphs";
    padding: 26px 0;
    margin: 0 60px;
    border-bottom: 1px solid #006BB2; }
  .container__title--red {
    color: #D75151; }
    .container__title--red::after {
      content: "\e906";
      display: block;
      font: 3em "glyphs";
      padding: 26px 0;
      margin: 0 60px;
      border-bottom: 1px solid #D75151; }

.container__text {
  font-size: 1.2em;
  padding: 2em 2.5em;
  text-align: left; }

.container__link {
  font-size: 1.4em;
  line-height: 2.4em;
  background-color: #006BB2;
  color: white;
  border-radius: 5px; }
  .container__link--red {
    background-color: #D75151; }

/* BAOBAB Project
*
* /sass/components/actualite.scss - design of actualite stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.lastactu {
  padding-bottom: 2em; }
  .lastactu__title {
    font: 4.8em "Amatic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px; }

.actu__info {
  border: 1px solid black;
  padding: 2em; }

.actu__title {
  font-size: 1.5em;
  padding: 1.8em 0 1.2em 0;
  font-weight: bold; }

.actu__element {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 9px;
  text-transform: uppercase; }
  .actu__element--green {
    color: #2F8635; }

.actu__text {
  line-height: 1.3em; }

.actu__button {
  font-size: 1.4em;
  background-color: #CC5454;
  text-align: center;
  color: white;
  line-height: 2.4em;
  border-radius: 5px;
  border: 1px solid black; }

/* BAOBAB Project
*
* /sass/components/doityourself.scss - design of doityourself stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.doityourself {
  background: #d9a200;
  background: -moz-linear-gradient(top, #d9a200 0%, #b26900 100%);
  background: -webkit-linear-gradient(top, #d9a200 0%, #b26900 100%);
  background: linear-gradient(to bottom, #d9a200 0%, #b26900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9a200', endColorstr='#b26900',GradientType=0 ); }
  .doityourself__title {
    padding-top: 0.625em;
    /*45px/7.2em*/
    text-align: center;
    font-size: 7.2em; }
  .doityourself__link {
    display: inline-block;
    text-align: center;
    font: bold 2em "Quicksand", Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    transition: .2s linear;
    letter-spacing: 3px; }
    .doityourself__link:hover {
      opacity: 0.8;
      transform: scale(1.1); }
  .doityourself__image {
    display: block;
    text-align: center;
    border-radius: 50%; }

/* BAOBAB Project
*
* /sass/components/decoration.scss - design of decoration stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.decoration {
  background-color: #34A037; }
  .decoration__text {
    padding-top: 1.277em;
    font: 3.6em "Amatic", sans-serif; }
    .decoration__text--strong {
      font-size: 1.33em; }
    .decoration__text--small {
      font-size: 0.66em; }
  .decoration__image {
    animation: movement 1.5s ease-in-out; }

@keyframes movement {
  0% {
    transform: translateX(100%); }
  50% {
    transform: rotateZ(15deg); }
  100% {
    transform: translateX(0%); } }

/* BAOBAB Project
*
* /sass/components/mainimage.scss - Design of mainimage stylesheet
*
* coded by Dylan Schirino
* started at 21/04/2016
*/
.mainimage {
  background: url("../img/mainimage.jpg") no-repeat center fixed;
  background-size: cover; }
  .mainimage__title {
    font-size: 5.2em;
    padding-top: 0.6667em; }
  .mainimage__subtitle {
    font: 4.2em "Amatic", sans-serif;
    padding-top: 0.714em; }
  .mainimage__button {
    font: bold 2.4em/3em "Quicksand", Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #0098FF; }
    .mainimage__button::before {
      content: "";
      display: inline-block;
      font-family: "glyphs";
      padding-right: 15px; }

.mainimage__button:hover:before, .mainimage__button:focus:before {
  -webkit-animation-name: iconanim;
  animation-name: iconanim;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes iconanim {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes iconanim {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

/* BAOBAB Project
 *
 * /sass/components/footer.scss - design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 24/04/2016
 */
.footer {
  background-color: #4E727B; }

.follow__title {
  font: 1.8em "Quicksand", Arial, sans-serif;
  color: white;
  padding: 1.166em 0 1.66em 0;
  text-align: center; }

.follow__element {
  font-size: 1.2em;
  display: inline-block;
  padding-left: 2em; }

.follow__link {
  color: white;
  text-align: center;
  transition: .2s linear; }
  .follow__link:hover {
    color: black; }
  .follow__link--facebook::before {
    padding-bottom: 6px;
    content: "";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--vimeo::before {
    padding-bottom: 6px;
    content: "";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--youtube::before {
    padding-bottom: 6px;
    content: "";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--rss::before {
    padding-bottom: 6px;
    content: "";
    display: block;
    font: 3em "glyphs"; }

.contact__title {
  font: 1.8em "Quicksand", Arial, sans-serif;
  color: white;
  padding: 1.166em 0 1.66em 0;
  text-align: center; }

.contact__element {
  font: 1.8em "Quicksand", Arial, sans-serif;
  color: white; }

.contact__link {
  color: white;
  font-weight: bold;
  letter-spacing: 1px; }

/*# sourceMappingURL=styles.css.map */