@charset "UTF-8";
/* BAOBAB Project
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Bold.eot");
  src: url("../fonts/quicksand/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Bold.woff") format("woff"), url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Bold.svg#Quicksand-Bold") format("svg");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Regular.eot");
  src: url("../fonts/quicksand/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"), url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Regular.svg#Quicksand-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Amatic';
  src: url("../fonts/amatic/AmaticSC-Regular.eot");
  src: url("../fonts/amatic/AmaticSC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/amatic/AmaticSC-Regular.woff") format("woff"), url("../fonts/amatic/AmaticSC-Regular.ttf") format("truetype"), url("../fonts/amatic/AmaticSC-Regular.svg#AmaticSC-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'glyphs';
  src: url("../fonts/glyphs/icomoon.eot?zdlgbo");
  src: url("../fonts/glyphs/icomoon.eot?zdlgbo#iefix") format("embedded-opentype"), url("../fonts/glyphs/icomoon.ttf?zdlgbo") format("truetype"), url("../fonts/glyphs/icomoon.woff?zdlgbo") format("woff"), url("../fonts/glyphs/icomoon.svg?zdlgbo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, label {
  display: none; }

.subheader__title {
  display: none; }

.mainmenu__title {
  display: none; }

/* Technique préconisé par anysurfer pour que le texte soit visible par les navigateur vocaux mais pas sur la page */
.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
html {
  font: 62.5% "Quicksand", Arial, sans-serif; }

body {
  opacity: .8; }

h1, h2, h3 {
  font-family: "Amatic", sans-serif; }

a {
  text-decoration: none; }

/* BAOBAB Project
 *
 * /sass/object/subheader.scss - non design of subheader stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.subheader {
  width: 100%;
  height: 2.222em; }
  .subheader::after {
    content: "";
    display: block;
    clear: both; }
  .subheader__element {
    display: inline-block; }
    .subheader__element:first-child {
      margin-left: 2.4em; }
    .subheader__element--right {
      float: right; }
  .subheader__link {
    margin-right: 1em; }
  .subheader__search {
    width: 16.3em;
    height: 23px;
    position: relative;
    top: -3px;
    margin-right: 3.6em; }
  .subheader__submit {
    height: 1.6em;
    position: absolute;
    right: 4em;
    top: 1.4em;
    width: 2.5em; }

/* BAOBAB Project
 *
 * /sass/object/header.scss - non design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.mainmenu {
  height: 15.4em; }
  .mainmenu__logo {
    width: 13.2em;
    height: 13.2em;
    margin-left: 4em;
    margin-right: 2.8em;
    float: left; }
  .mainmenu__element {
    margin-top: 3.8em; }
  .mainmenu__link {
    margin-right: 1.944em;
    /* 35/1.8em*/ }
    .mainmenu__link--donate {
      margin: 1em 0em 0em 0.2em;
      /*40/1.8*/
      position: relative;
      top: -10px; }

/* BAOBAB Project
 *
 * /sass/object/mainimage.scss - Design of mainimage stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
/* BAOBAB Project
 *
 * /sass/components/subheader.scss - Design of subheader stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.subheader {
  background-color: #F89F1F;
  box-shadow: 0px 1px 1px #D16925;
  font-size: 1.6em;
  padding-top: 1em; }
  .subheader__element--right {
    font-size: 0.875em; }
  .subheader__link {
    padding-top: 1em;
    text-decoration: none;
    color: black;
    transition: .2s linear; }
    .subheader__link:hover {
      font-size: 1.3em; }
    .subheader__link--youtube::before {
      color: white;
      content: "";
      font: 1.2em "glyphs"; }
    .subheader__link--facebook::before {
      color: white;
      content: "";
      font: 1.2em "glyphs"; }
  .subheader__search {
    border: none;
    -webkit-appearance: none;
    font-family: "Quicksand", Arial, sans-serif;
    padding-left: 1em; }
  .subheader__submit {
    font-family: "Quicksand", Arial, sans-serif;
    border: none;
    background-color: #E38039;
    transform: skewX(-15deg);
    transition: .2s linear; }
    .subheader__submit:hover {
      cursor: pointer;
      transform: skewX(0deg); }

/* BAOBAB Project
 *
 * /sass/components/header.scss - non design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.mainmenu {
  background-color: rgba(173, 104, 63, 0.47); }
  .mainmenu__logo {
    padding: 1.1em 0;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain; }
  .mainmenu__element {
    display: inline-block; }
  .mainmenu__link {
    color: black;
    font: 1.8em/1.7em "Quicksand", Arial, sans-serif;
    display: block;
    text-align: center;
    padding: 0.833em;
    transition: .1s linear; }
    .mainmenu__link:hover {
      border-bottom: 1px solid black;
      transform: scale(1.1); }
    .mainmenu__link--home {
      margin-left: 1.5em; }
      .mainmenu__link--home::before {
        content: "";
        display: block;
        font: 1.6em "glyphs"; }
    .mainmenu__link--video::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--anime::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--project::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--contact::before {
      content: "";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--donate {
      background-color: #E28139;
      color: white;
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      transform: skewY(-5deg); }
      .mainmenu__link--donate:hover {
        background-color: #D36210;
        border: none; }

/* BAOBAB Project
 *
 * /sass/components/mainimage.scss - Design of mainimage stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */

/*# sourceMappingURL=styles.css.map */