/*
* Feuille de Style alternative pour ie8
*
*/

.mainimage,.whosbaobab{
  height:400px;
}
.footer{
  height: 200px;
}

/*      FALLBACK PNG      */
.mainmenu__logo{
    background:url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}
