@charset "UTF-8";
/* BAOBAB Project
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Bold.eot");
  src: url("../fonts/quicksand/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Bold.woff") format("woff"), url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Bold.svg#Quicksand-Bold") format("svg");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand-Regular.eot");
  src: url("../fonts/quicksand/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"), url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Regular.svg#Quicksand-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Amatic';
  src: url("../fonts/amatic/AmaticSC-Regular.eot");
  src: url("../fonts/amatic/AmaticSC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/amatic/AmaticSC-Regular.woff") format("woff"), url("../fonts/amatic/AmaticSC-Regular.ttf") format("truetype"), url("../fonts/amatic/AmaticSC-Regular.svg#AmaticSC-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'glyphs';
  src: url("../fonts/glyphs/icomoon.eot?zdlgbo");
  src: url("../fonts/glyphs/icomoon.eot?zdlgbo#iefix") format("embedded-opentype"), url("../fonts/glyphs/icomoon.ttf?zdlgbo") format("truetype"), url("../fonts/glyphs/icomoon.woff?zdlgbo") format("woff"), url("../fonts/glyphs/icomoon.svg?zdlgbo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, .subheader__label {
  display: none; }

.subheader__title {
  display: none; }

.mainmenu__title {
  display: none; }

/* Technique préconisé par anysurfer pour que le texte soit visible par les navigateur vocaux mais pas sur la page */
.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
html {
  font: 62.5% "Quicksand", Arial, sans-serif; }

body {
  background: url("../img/grille.png") center center;
  opacity: .8; }

h1, h2, h3 {
  font-family: "Amatic", sans-serif; }

a {
  text-decoration: none; }

/* BAOBAB Project
*
* /sass/object/subheader.scss - non design of subheader stylesheet
*
* coded by Dylan Schirino
* started at 21/04/2016
*/
.subheader {
  width: 100%;
  height: 2.222em; }
  .subheader::after {
    content: "";
    display: block;
    clear: both; }
  .subheader__element {
    display: inline-block; }
    .subheader__element:first-child {
      margin-left: 2.4em; }
    .subheader__element--right {
      float: right;
      margin-right: 1em; }
  .subheader__link {
    margin-right: 1em; }

@media screen and (max-width: 763px) {
  .subheader__menu {
    font-size: 1em; }
  .subheader__element:first-child {
    margin-left: 1em; } }

@media screen and (max-width: 542px) {
  .subheader__element:first-child {
    margin-left: 1em; }
  .subheader__link {
    padding: 0;
    margin: 0; } }

@media screen and (max-width: 378px) {
  .subheader__link {
    margin-top: 1em; } }

/* BAOBAB Project
 *
 * /sass/object/header.scss - non design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.mainmenu {
  height: 15.4em; }
  .mainmenu::after {
    content: "";
    display: block;
    clear: both; }
  .mainmenu__logo {
    width: 13.2em;
    height: 13.2em;
    margin-left: 4em;
    margin-right: 2.8em;
    float: left; }
  .mainmenu__element {
    margin-top: 3.8em; }
  .mainmenu__link {
    margin-right: 1.944em;
    /* 35/1.8em*/ }
    .mainmenu__link--donate {
      margin: 1em 0 0 0;
      /*40/1.8*/
      position: relative;
      top: -10px; }

/* BAOBAB Project
 *
 * /sass/object/mainimage.scss - Design of mainimage stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.mainimage {
  min-height: 65.9vh;
  position: relative; }
  .mainimage__title {
    text-align: center; }
  .mainimage__button {
    display: block;
    height: 76px;
    width: 12.412916667em;
    /*292+5/2.4*/
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto; }

@media screen and (max-width: 545px) {
  .mainimage__subtitle {
    margin-right: 1.5em; } }

/* BAOBAB Project
 *
 * /sass/object/whosbaobab.scss - non design of whosbaobab stylesheet
 *
 * coded by Dylan Schirino
 * started at 23/04/2016
 */
.whosbaobab {
  height: auto;
  padding-bottom: 5em; }
  .whosbaobab__maincontainer {
    width: 90em;
    padding-top: 8em;
    margin: auto; }
    .whosbaobab__maincontainer::after {
      content: "";
      display: block;
      clear: both; }
  .whosbaobab__container {
    width: 30em;
    display: block;
    max-height: 40.8em;
    margin-left: 8.9em;
    position: relative;
    float: left; }
    .whosbaobab__container--right {
      float: right;
      margin-right: 3em; }

.container__link {
  display: block;
  margin: auto;
  width: 10em;
  /*140px*/
  height: 2.8571em;
  /*40px*/
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0; }

@media screen and (max-width: 1212px) {
  .whosbaobab__maincontainer {
    width: 100%; } }

@media screen and (max-width: 885px) {
  .whosbaobab__container {
    width: 30em; }
    .whosbaobab__container--right {
      display: inline-block;
      margin-left: 1em;
      float: none; } }

@media screen and (max-width: 745px) {
  .whosbaobab__container {
    width: 95%;
    float: none;
    margin: 0;
    margin: auto auto 4em auto; }
    .whosbaobab__container--right {
      display: block;
      float: none;
      margin: 0;
      margin: auto; } }

/* BAOBAB Project
*
* /sass/object/doityourself.scss - non design of doityourself stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.doityourself {
  height: 70em; }
  .doityourself__container {
    text-align: center; }
  .doityourself__link {
    margin-left: 2em; }
  .doityourself__image {
    margin-top: 3.7em;
    margin-bottom: 1.5em; }

@media screen and (max-width: 793px) {
  .doityourself__image {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 700px) {
  .doityourself {
    height: auto;
    padding-bottom: 3em; }
    .doityourself__link {
      margin-left: 0; } }

@media screen and (max-width: 357px) {
  .doityourself__image {
    width: 200px;
    height: 200px;
    margin: 2em auto; }
  .doityourself__link {
    margin-left: 0; } }

/* BAOBAB Project
*
* /sass/object/decoration.scss - Non design of decoration stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.decoration {
  height: 50em; }
  .decoration__title {
    width: 11em;
    margin-left: 3.1em; }
  .decoration__image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 46.24505929%;
    max-height: 430px; }

@media screen and (max-width: 700px) {
  .decoration__image {
    width: 80%; } }

@media screen and (max-width: 577px) {
  .decoration__image {
    width: 80%; }
  .decoration__title {
    margin-left: 2.1em; } }

@media screen and (max-width: 516px) {
  .decoration__image {
    width: 100%; }
  .decoration__title {
    width: 8em;
    margin-left: 0;
    margin: auto; } }

/* BAOBAB Project
*
* /sass/object/actualite.scss - Non design of actualite stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.lastactu {
  max-width: 100%;
  text-align: center; }
  .lastactu::after {
    content: "";
    display: block;
    clear: both; }
  .lastactu__title {
    margin: 1em 0em 1.69em 0;
    text-align: inherit; }

.actu {
  width: 29.7em;
  height: 30em;
  margin-left: -2em;
  margin-bottom: 3em;
  display: inline-block; }
  .actu:first-child {
    float: left; }
  .actu--index:last-child {
    margin-left: 25.9em; }
  .actu__info {
    position: relative;
    top: -2px; }
  .actu__text {
    padding-bottom: 2.4em; }
  .actu__button {
    display: block;
    width: 10em;
    height: 2.85em;
    position: absolute;
    bottom: -20px;
    left: 70px; }

@media screen and (max-width: 913px) {
  .lastactu {
    width: 100%; } }

@media screen and (max-width: 882px) {
  .actu:last-child {
    margin-left: 1em; } }

@media screen and (max-width: 636px) {
  .lastactu {
    width: 30em;
    margin: auto; }
  .actu:last-child {
    display: none; } }

@media screen and (max-width: 375px) {
  .lastactu {
    width: 95%;
    margin: 0;
    margin: auto; }
  .actu {
    width: 90%;
    margin: 0;
    margin: auto; }
    .actu__image {
      width: 100%;
      margin: auto; } }

/* BAOBAB Project
 *
 * /sass/object/actualitypage.scss - non design of actualitypage stylesheet
 *
 * coded by Dylan Schirino
 * started at 26/04/2016
 */
label {
  display: block; }

.ariane {
  width: 34.8em;
  height: 4.3em;
  margin: 3.7em 0 2.5em  -2em;
  text-align: center; }
  .ariane__element {
    display: inline-block; }

.actualite {
  display: inline-block;
  width: 75%;
  margin: auto; }

.actu--page {
  margin-left: 3.4em;
  margin-top: 10em; }

.header {
  position: relative; }
  .header__title {
    display: inline-block;
    position: absolute;
    bottom: 1.5em;
    margin-left: 2em; }

.aside {
  display: inline-block;
  width: 21%;
  height: 50em;
  float: right; }
  .aside__list {
    width: 100%;
    margin: auto; }

@media screen and (max-width: 999px) {
  .header__title {
    font-size: 5em;
    display: block;
    position: static;
    margin-bottom: 1em; }
  .actu--page:last-child {
    margin: 3.2em;
    display: block; } }

@media screen and (max-width: 652px) {
  .aside {
    width: 100%;
    height: auto; } }

@media screen and (max-width: 479px) {
  .header__image {
    padding-top: 2em;
    max-width: 100%;
    height: auto; } }

@media screen and (max-width: 360px) {
  .ariane {
    width: 100%; }
  .actu {
    margin-left: 1em; }
    .actu:last-child {
      margin-left: 1em; } }

/* BAOBAB Project
 *
 * /sass/object/viewpage.scss -NON design of viewpage stylesheet
 *
 * coded by Dylan Schirino
 * started at 27/04/2016
 */
.ariane--absolute {
  position: absolute; }

.fiche__image {
  width: 100%;
  height: auto; }

.fiche__title {
  margin: 0.684em 0 0.842em 1.0789em; }

.header__list {
  border-bottom: 1px solid #979797;
  margin: 0 3.2em; }

.header__element {
  margin-left: 2.5em; }

.actuality {
  width: 80.7%;
  margin: auto;
  margin-left: 11.2em; }
  .actuality::after {
    content: "";
    display: block;
    clear: both; }
  .actuality__title--right {
    text-align: right; }
  .actuality__text {
    width: 60%;
    margin-bottom: 2em; }
    .actuality__text--right {
      float: right; }
  .actuality__image {
    margin: 6em 0; }
    .actuality__image--right {
      float: right; }

.commentaire {
  margin-top: 6em;
  width: 72em;
  margin: auto; }
  .commentaire__container {
    margin: 4.7em 0; }

.container__article {
  width: 56em;
  margin: auto; }
  .container__article:not(:last-child) {
    border-bottom: 1px solid #979797; }

.article__text {
  width: 30em; }

.form::after {
  content: "";
  display: block;
  clear: both; }

.form__input {
  width: 23em;
  margin-right: 2em; }

.form__textarea {
  width: 99%;
  height: 16em; }

.form__submit {
  float: right;
  width: 13.6875em;
  height: 2.8125em;
  margin-top: 1.5em; }

@media screen and (max-width: 734px) {
  .commentaire {
    max-width: 100%; }
    .commentaire__title {
      text-align: center; } }

@media screen and (max-width: 665px) {
  .actuality {
    margin: 0;
    width: 100%; }
    .actuality__image {
      max-width: 100%;
      height: auto;
      float: none; }
    .actuality__text {
      margin: 1em;
      width: 80%; }
    .actuality__title {
      margin-left: 1em; }
      .actuality__title--right {
        margin-right: 1em; } }

@media screen and (max-width: 572px) {
  .container__article {
    width: 80%; } }

@media screen and (max-width: 479px) {
  .form__input {
    display: block;
    margin-left: 1em; }
  .form__label {
    margin-left: 1em; }
  __textarea {
    max-width: 90%; }
  .article__text {
    max-width: 100%; } }

/* BAOBAB Project
 *
 * /sass/object/about.scss - non design of about stylesheet
 *
 * coded by Dylan Schirino
 * started at 02/05/2016
 */
.ariane--static {
  position: static; }

.aboutasbl {
  width: 75%;
  margin: auto; }
  .aboutasbl::after {
    content: "";
    display: block;
    clear: both; }
  .aboutasbl__title {
    text-align: center; }

.description {
  width: 27em;
  display: block;
  float: left;
  margin: 0 2.1em; }

.equipe {
  width: 70%;
  margin: auto; }
  .equipe::after {
    content: "";
    display: block;
    clear: both; }
  .equipe__membre {
    width: 47%;
    display: inline-block;
    float: left;
    text-align: center; }

/* BAOBAB Project
*
* /sass/object/courtmetrage.scss - NON design of courtmetrage stylesheet
*
* coded by Dylan Schirino
* started at 02/04/2016
*/
.ariane {
  position: absolute;
  z-index: 111; }

.imagecover {
  background: url("../img/courtmetrage.jpg") no-repeat center center;
  background-size: cover;
  height: 60em;
  position: relative;
  top: -10px; }

.videolist {
  margin-top: -1em;
  margin-bottom: -10em; }
  .videolist__title {
    display: none; }
  .videolist__button {
    width: 17em;
    height: 4.111em;
    display: block;
    margin: auto; }

.cards {
  width: 65%;
  margin-left: 11.24em;
  padding-bottom: 11em; }
  .cards::after {
    content: "";
    display: block;
    clear: both; }
  .cards__element {
    display: inline-block;
    margin-right: 2em; }
  .cards__image {
    float: right; }
  .cards__icon {
    display: inline-block; }

.icon__list {
  display: inline-block; }
  .icon__list--right {
    display: inline-block;
    vertical-align: top;
    margin-left: 10em; }

@media screen and (max-width: 587px) {
  .cards {
    width: 80%;
    margin: auto; }
    .cards__element {
      margin-bottom: 1em; } }

@media screen and (max-width: 472px) {
  .cards {
    margin-left: 3em; }
    .cards__image {
      max-width: 100%;
      height: auto; }
  .icon__list--right {
    margin-left: 0; } }

@media screen and (max-width: 343px) {
  .icon__list {
    font-size: 0.9em; } }

/* BAOBAB Project
 *
 * /sass/object/video.scss - NON design of video stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/05/2016
 */
.ariane--static {
  position: static; }

.video {
  margin-bottom: -10em; }
  .video__title {
    margin-top: -1.65em;
    margin-left: 3em; }
  .video__list {
    text-align: center; }
  .video__subtitle {
    margin-bottom: 0.78125em; }
  .video li {
    display: inline-block; }
  .video__link--diffusion {
    margin-left: 1em; }
  .video__voirfilm {
    margin-top: 6.7em;
    text-align: center; }

.voirfilm__text {
  width: 40%;
  margin: auto; }

@media screen and (max-width: 792px) {
  .voirfilm__video {
    width: 100%; } }

@media screen and (max-width: 473px) {
  .voirfilm__text {
    width: 90%;
    padding: 1em; }
  .video__title, .video__subtitle {
    margin: 0; }
  .ariane {
    display: none; } }

.discover {
  width: 60%;
  margin: auto; }
  .discover__text {
    width: 80%;
    margin: auto; }

.makingof {
  width: 60%;
  margin: auto; }
  .makingof::after {
    content: "";
    display: block;
    clear: both; }
  .makingof__image {
    float: left;
    width: auto;
    height: 15em; }

@media screen and (max-width: 590px) {
  .makingof__image {
    display: block;
    max-width: 100%;
    height: auto; } }

.fichetechnique {
  width: 60%;
  margin: auto; }
  .fichetechnique::after {
    content: "";
    display: block;
    clear: both; }
  .fichetechnique__affiche {
    float: left;
    margin-right: 3em; }

@media screen and (max-width: 389px) {
  .fichetechnique {
    width: 90%;
    margin: auto; }
    .fichetechnique__affiche {
      margin: 0;
      max-width: 100%;
      height: auto; } }

/* onglet qui fonctionne et qui affiche leur contenu */
.tab-pane {
  display: none; }

.active {
  display: block; }

/* BAOBAB Project
*
* /sass/object/diffusion.scss - NON design of diffusion stylesheet
*
* coded by Dylan Schirino
* started at 05/05/2016
*/
.diffusion {
  position: relative;
  margin-bottom: -10em; }
  .diffusion::after {
    content: "";
    display: block;
    clear: both; }
  .diffusion__title {
    text-align: right; }
  .diffusion__form {
    width: 31.6%;
    margin: auto; }
  .diffusion__input {
    width: 100%;
    height: 3.9em; }
    .diffusion__input--textarea {
      width: 100%;
      height: 14em; }
  .diffusion__inputleft, .diffusion__inputright {
    width: 45%; }
  .diffusion__submit {
    width: 8.75em;
    height: 2.25em;
    display: block;
    margin-top: 1.25em;
    float: right; }
  .diffusion__figure {
    display: inline-block;
    margin-left: 12em;
    margin-top: -10em; }

@media screen and (max-width: 760px) {
  .diffusion__figure {
    display: block;
    margin-left: 1em;
    margin-top: 0; }
  .diffusion__form {
    min-width: 90%;
    margin: auto; } }

/* BAOBAB Project
*
* /sass/object/animetoimeme.scss - NON design of animetoimeme stylesheet
*
* coded by Dylan Schirino
* started at 05/05/2016
*/
.animetoimeme__title {
  text-align: center; }

.animetoimeme__container {
  width: 82.1%;
  margin: auto; }
  .animetoimeme__container::after {
    content: "";
    display: block;
    clear: both; }

.animetoimeme__door {
  display: inline-block;
  margin-top: 7em; }
  .animetoimeme__door--right {
    float: right;
    margin-right: 1.7em; }

.door__link {
  display: block;
  width: 99% 0.4;
  text-align: center; }

@media screen and (max-width: 965px) {
  .animetoimeme__container {
    width: 40%;
    margin: auto; }
  .animetoimeme__door--right {
    float: none; } }

@media screen and (max-width: 586px) {
  .animetoimeme__container {
    width: 80%;
    margin: auto; }
  .door__image {
    max-width: 100%; } }

@media screen and (max-width: 459px) {
  .animetoimeme__door {
    width: 100%;
    margin: auto;
    margin-top: 3em; }
  .door__image {
    max-width: 100%;
    height: auto; } }

/* BAOBAB Project
 *
 * /sass/object/ministudio.scss - NON  design of ministudio stylesheet
 *
 * coded by Dylan Schirino
 * started at 05/05/2016
 */
.animetoimeme::after {
  content: "";
  display: block;
  clear: both; }

.ministudio {
  display: inline-block;
  float: right;
  width: 80%;
  margin: auto;
  margin-top: 8em;
  text-align: center; }
  .ministudio__title {
    display: none; }
  .ministudio__image {
    width: 52.7%;
    margin: auto;
    margin-bottom: 1em; }
  .ministudio__explain {
    width: 50%;
    margin: auto;
    text-align: left; }

.timeline {
  display: inline-block;
  margin-top: 15em;
  margin-left: 5em;
  float: left; }
  .timeline__element {
    width: 1.7708333333em;
    height: 1.7708333333em;
    margin-bottom: 6.3em;
    z-index: 1; }

@media screen and (max-width: 720px) {
  .timeline {
    display: none; }
  .ministudio {
    display: block;
    float: none; }
    .ministudio__title {
      display: block;
      font-size: 4em;
      margin-bottom: 1em; }
    .ministudio__explain {
      width: 90%; }
    .ministudio__image {
      width: 90%;
      height: auto; } }

/* BAOBAB Project
*
* /sass/object/donate.scss - non design of donate stylesheet
*
* coded by Dylan Schirino
* started at 05/05/2016
*/
.donate {
  width: 40em;
  height: 40em;
  margin: auto; }
  .donate__input {
    width: 16em;
    height: 2.7333em;
    display: block;
    margin: auto;
    margin-bottom: 3.4667em; }
  .donate__submit {
    width: 16em;
    height: 2.7333em;
    margin: auto;
    display: block; }
  .donate__figure::after {
    content: "";
    display: block;
    clear: both; }
  .donate__image {
    float: right;
    margin-right: 14em; }

@media screen and (max-width: 414px) {
  .donate {
    width: 90%;
    margin-bottom: 3em; } }

/* BAOBAB Project
 *
 * /sass/object/contact.scss - NON design of contact stylesheet
 *
 * coded by Dylan Schirino
 * started at 10/05/2016
 */
.contactinfo {
  width: 82%;
  margin: auto; }
  .contactinfo::after {
    content: "";
    display: block;
    clear: both; }
  .contactinfo__container {
    width: 40em;
    height: 14.5em; }
  .contactinfo__information {
    display: inline-block;
    float: left; }
  .contactinfo__formulaire::after {
    content: "";
    display: block;
    clear: both; }
  .contactinfo__formcontent {
    width: 40em;
    height: 14.5em;
    float: right;
    display: block; }
    .contactinfo__formcontent::after {
      content: "";
      display: block;
      clear: both; }
  .contactinfo__image {
    display: block; }
  .contactinfo__title {
    margin: 1.125em 0 1.6875em 2.3em; }
  .contactinfo__label {
    margin-left: 2.8em; }
  .contactinfo__link {
    margin-left: 3.75em; }
  .contactinfo__input {
    width: 33.4em;
    height: 4.1em; }
    .contactinfo__input--textarea {
      width: 28em;
      height: 7em; }
  .contactinfo__submit {
    width: 8.88em;
    height: 3.05em;
    float: right;
    margin: 2.24em 1em 0 0; }
  .contactinfo__image {
    margin: 3em auto;
    transform: rotate(20deg); }

@media screen and (max-width: 991px) {
  .contactinfo {
    width: 100%;
    margin: auto; } }

@media screen and (max-width: 832px) {
  .contactinfo__information, .contactinfo__formcontent {
    float: none;
    display: block; }
  .contactinfo__container {
    width: 100%;
    margin: auto;
    text-align: center; }
  .contactinfo__formcontent {
    width: 100%;
    margin: 3em auto;
    text-align: center; }
  .contactinfo__input {
    width: 80%;
    margin: auto; } }

@media screen and (max-width: 771px) {
  .contactinfo__submit {
    display: block;
    text-align: center; }
  .contactinfo__image {
    display: none; } }

/* BAOBAB Project
 *
 * /sass/object/footer.scss - non design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 24/04/2016
 */
.footer {
  height: auto;
  margin-top: 10em; }
  .footer__container {
    width: 100%;
    margin: auto; }
    .footer__container::after {
      content: "";
      display: block;
      clear: both; }

.follow {
  display: inline-block;
  padding-left: 10em; }

.contact {
  display: inline-block;
  float: right;
  margin-right: 8em; }

@media screen and (max-width: 917px) {
  .footer {
    padding: 0.5em; }
  .follow {
    text-align: center;
    display: block;
    padding: 0; }
  .contact {
    float: none;
    display: block;
    margin: 0;
    text-align: center;
    padding-bottom: 2em; } }

/* BAOBAB Project
 *
 * /sass/components/subheader.scss - Design of subheader stylesheet
 *
 * coded by Dylan Schirino
 * started at 21/04/2016
 */
.subheader {
  background-color: #F89F1F;
  box-shadow: 0px 1px 1px #D16925;
  font-size: 1.6em;
  padding-top: 1em; }
  .subheader__element--right {
    font-size: 0.875em; }
  .subheader__link {
    padding-top: 1em;
    text-decoration: none;
    color: black;
    transition: .2s linear; }
    .subheader__link:hover {
      text-decoration: underline; }
  .subheader__search {
    border: none;
    -webkit-appearance: none;
    font-family: "Quicksand", Arial, sans-serif;
    padding-left: 1em; }
  .subheader__submit {
    font-family: "Quicksand", Arial, sans-serif;
    border: none;
    background-color: #E38039;
    transform: skewX(-15deg);
    transition: .2s linear;
    -webkit-appearance: none; }
    .subheader__submit:hover {
      cursor: pointer;
      transform: skewX(0deg); }

/* BAOBAB Project
 *
 * /sass/components/header.scss - design of header stylesheet
 *
 * coded by Dylan Schirino
 * started at 22/04/2016
 */
.mainmenu {
  background-color: #E0C7B7;
  opacity: 0.9; }
  .mainmenu__shower {
    display: none; }
  .mainmenu__logo {
    padding: 1.1em 0;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain; }
  .mainmenu__element {
    display: inline-block; }
  .mainmenu__link {
    color: black;
    font: 1.7em/1.7em "Quicksand", Arial, sans-serif;
    display: block;
    text-align: center;
    padding: 0.833em;
    transition: .1s linear; }
    .mainmenu__link:hover {
      border-bottom: 1px solid black;
      transform: scale(1.1); }
    .mainmenu__link--home {
      margin-left: 1.5em; }
      .mainmenu__link--home::before {
        content: "\e948";
        display: block;
        font: 1.6em "glyphs"; }
    .mainmenu__link--video::before {
      content: "\e900";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--anime::before {
      content: "\e905";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--project::before {
      content: "\e906";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--contact::before {
      content: "\e94a";
      display: block;
      font: 1.6em "glyphs"; }
    .mainmenu__link--donate {
      background-color: #E28139;
      color: white;
      font-size: 1.8em;
      font-weight: bold;
      text-transform: uppercase;
      transform: skewY(-5deg); }
      .mainmenu__link--donate:hover {
        background-color: #D36210;
        border: none;
        transform: scale(1); }

@media screen and (max-width: 1225px) {
  .mainmenu__link--donate {
    margin: 0;
    font-size: 1.4em; } }

@media screen and (max-width: 1190px) {
  .mainmenu__link {
    margin-right: 0.8em; }
    .mainmenu__link--donate {
      margin: 0;
      font-size: 1.4em; } }

@media screen and (max-width: 1116px) {
  .mainmenu {
    font-size: 0.9em; }
    .mainmenu__link {
      margin: 0;
      padding: 0.6em; } }

@media screen and (max-width: 859px) {
  .mainmenu {
    font-size: 0.8em; } }

@media screen and (max-width: 764px) {
  .mainmenu {
    height: auto; }
    .mainmenu__shower {
      display: none; }
      .mainmenu__shower:checked ~ .mainmenu__list {
        display: block; }
    .mainmenu__list {
      padding-top: 15em;
      position: relative;
      z-index: 1;
      display: none; }
    .mainmenu__element {
      display: block;
      padding-top: 0.7em;
      width: 100%;
      border-bottom: 1px solid black;
      margin: auto; }
    .mainmenu__link--donate {
      display: block;
      margin-top: 1em;
      transform: skewY(0deg); }
    .mainmenu__link:hover, .mainmenu__link:focus {
      transform: scale(1.2);
      border: none; }
  .hamburger {
    background: url("../img/burger.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    top: 100px;
    right: 15px;
    z-index: 100;
    cursor: pointer; } }

/* BAOBAB Project
 *
 * /sass/components/whosbaobab.scss - design of whosbaobab stylesheet
 *
 * coded by Dylan Schirino
 * started at 23/04/2016
 */
.whosbaobab {
  background-color: #DACABF;
  color: black; }
  .whosbaobab__container {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    transition: .2s ease-in-out; }
    .whosbaobab__container:hover .container__link {
      background-color: #193E56; }
    .whosbaobab__container--right:hover .container__link {
      background-color: #AD4343; }

.container__title {
  font-size: 3.2em;
  padding-top: 0.78125em;
  /*25/3.2*/
  color: #006BB2; }
  .container__title::after {
    content: "\e953";
    display: block;
    font: 3em "glyphs";
    padding: 0.2em 0;
    margin: 0 60px;
    border-bottom: 1px solid #006BB2; }
  .container__title--red {
    color: #D75151; }
    .container__title--red::after {
      content: "\e925";
      display: block;
      font: 3em "glyphs";
      padding: 0.2em 0;
      margin: 0 60px;
      border-bottom: 1px solid #D75151; }

.container__text {
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 2em 3em 7em 2.5em;
  text-align: text; }

.container__link {
  font-size: 1.4em;
  line-height: 2.8em;
  background-color: #006BB2;
  color: white;
  border-radius: 5px; }
  .container__link--red {
    background-color: #D75151; }

/* BAOBAB Project
*
* /sass/components/actualite.scss - design of actualite stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.lastactu {
  padding-bottom: 15em; }
  .lastactu__title {
    font: 4.8em "Amatic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px; }

.actu__info {
  border: 1px solid black;
  padding: 2em; }

.actu__title {
  font-size: 1.5em;
  padding: 0.8em 0 1.2em 0;
  font-weight: bold; }

.actu__element {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 9px;
  text-transform: uppercase; }
  .actu__element--green {
    color: #2F8635; }

.actu__text {
  font-size: 1.3em;
  line-height: 1.3em; }

.actu__button {
  font-size: 1.4em;
  background-color: #CC5454;
  text-align: center;
  color: white;
  line-height: 2.4em;
  border-radius: 5px;
  border: 1px solid black;
  transition: .2s linear; }
  .actu__button:hover {
    transform: scale(1.1); }

.actu__image {
  transition: .2s linear; }
  .actu__image:hover {
    opacity: 0.8; }

/* BAOBAB Project
 *
 * /sass/components/actualitypage.scss - design of actualitypage stylesheet
 *
 * coded by Dylan Schirino
 * started at 26/04/2016
 */
.ariane {
  background-color: #0098FF;
  color: white;
  transform: skewX(-15deg); }
  .ariane__element {
    font-size: 1.8em;
    line-height: 2.2em; }

.header__title {
  font-size: 6em; }

.header__image {
  display: inline-block; }

.aside {
  background-color: #17100E;
  color: white; }
  .aside__title {
    font: 2em "Quicksand", Arial, sans-serif;
    padding: 2em 0;
    text-transform: uppercase;
    text-align: center; }
  .aside__element--checkbox {
    display: none; }
  .aside__element--label {
    display: inline-block;
    font-size: 1.6em;
    padding: 0em 0em 2.3em 2em; }
    .aside__element--label::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid white;
      margin-right: 2em; }

.actu__title {
  font-family: "Quicksand", Arial, sans-serif; }

input[type="checkbox"]:checked + label::before {
  border-radius: 50%;
  background-color: white;
  transition: .3s ease-in-out; }

/* BAOBAB Project
 *
 * /sass/components/viewpage.scss - design of viewpage stylesheet
 *
 * coded by Dylan Schirino
 * started at 27/04/2016
 */
.fiche__title {
  font: 3.8em "Quicksand", Arial, sans-serif; }

.header__element {
  font: bold 1.6em "Quicksand", Arial, sans-serif;
  color: #363333;
  padding-bottom: 1em; }
  .header__element--date::before {
    content: "\e94d";
    padding-right: 1.2em;
    font: 1.2em "glyphs"; }
  .header__element--file::before {
    content: "\e946";
    padding-right: 1.2em;
    font: 1.2em "glyphs"; }
  .header__element--author::before {
    content: "\e94e";
    padding-right: 1.2em;
    font: 1.2em "glyphs"; }

.actuality__title {
  font: 2.8em "Quicksand", Arial, sans-serif;
  padding: 1.714em 0 1.535em 0em; }

.actuality__text {
  font-size: 1.6em;
  line-height: 1.9em; }

.actuality__image {
  padding-left: 3em; }

.commentaire__title {
  font-size: 4.8em;
  border-bottom: 1px solid #979797;
  padding-bottom: 0.3125em; }

.commentaire__container {
  background-color: #F6F8FA; }

.article__heading {
  padding: 3.7em 0 1.6em 0; }

.article__element {
  display: inline-block;
  font-size: 1.2em; }

.article__text {
  font-size: 1.4em;
  padding-bottom: 2.714em; }

.form__input {
  background: none;
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 1em; }

.form__label {
  font-size: 1.6em;
  padding: 1em 0;
  display: inline-block; }

.form__textarea {
  border: 1px solid #979797;
  border-radius: 5px;
  font-family: "Quicksand", Arial, sans-serif; }

.form__submit {
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  border: none;
  background-color: #F89F1F;
  border-radius: 5px;
  transition: .2s ease-in-out;
  -webkit-appearance: none; }
  .form__submit:hover {
    background-color: #FCDA7A;
    cursor: pointer; }

/* BAOBAB Project
*
* /sass/components/doityourself.scss - design of doityourself stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.doityourself {
  background: #d9a200;
  background: -moz-linear-gradient(top, #d9a200 0%, #b26900 100%);
  background: -webkit-linear-gradient(top, #d9a200 0%, #b26900 100%);
  background: linear-gradient(to bottom, #d9a200 0%, #b26900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9a200', endColorstr='#b26900',GradientType=0 ); }
  .doityourself__title {
    padding-top: 0.625em;
    /*45px/7.2em*/
    text-align: center;
    font-size: 7.2em; }
  .doityourself__link {
    display: inline-block;
    text-align: center;
    font: bold 2em "Quicksand", Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    transition: .2s linear;
    letter-spacing: 3px; }
    .doityourself__link:hover, .doityourself__link:focus {
      opacity: 0.8;
      transform: scale(1.1); }
  .doityourself__image {
    display: block;
    text-align: center;
    border-radius: 50%; }

/* BAOBAB Project
*
* /sass/components/decoration.scss - design of decoration stylesheet
*
* coded by Dylan Schirino
* started at 22/04/2016
*/
.decoration {
  background-color: #34A037; }
  .decoration__title {
    padding-top: 1.277em;
    font: 3.6em "Amatic", sans-serif; }
    .decoration__title--strong {
      font-size: 1.33em; }
    .decoration__title--small {
      font-size: 0.66em; }

/* BAOBAB Project
*
* /sass/components/mainimage.scss - Design of mainimage stylesheet
*
* coded by Dylan Schirino
* started at 21/04/2016
*/
.mainimage {
  background: url("../img/mainimage.jpg") no-repeat center fixed;
  background-size: cover; }
  .mainimage__title {
    font-size: 8em;
    padding-top: 0.6667em;
    color: white;
    text-shadow: 1px 2px white; }
  .mainimage__button {
    font: bold 2.4em/3em "Quicksand", Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #0098FF; }
    .mainimage__button::before {
      content: "\e956";
      display: inline-block;
      font-family: "glyphs";
      padding-right: 15px; }

.mainimage__button:hover:before, .mainimage__button:focus:before {
  -webkit-animation-name: iconanim;
  animation-name: iconanim;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes iconanim {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes iconanim {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

/* BAOBAB Project
 *
 * /sass/components/about.scss - design of about stylesheet
 *
 * coded by Dylan Schirino
 * started at 02/05/2016
 */
.aboutasbl__title {
  font: 4.8em "Amatic", sans-serif; }

.description__title {
  font: 2.4em "Quicksand", Arial, sans-serif;
  border-bottom: 1px solid #979797;
  text-align: center;
  padding-top: 2em; }
  .description__title--groupe::after {
    content: "\e947";
    text-align: center;
    padding: 0.12em 0em;
    display: block;
    font: 4em "glyphs"; }
  .description__title--resultat::after {
    content: "\e93b";
    text-align: center;
    padding: 0.12em 0em;
    display: block;
    font: 4em "glyphs"; }
  .description__title--developpement::after {
    content: "\e93c";
    text-align: center;
    padding: 0.12em 0em;
    display: block;
    font: 4em "glyphs"; }

.description__text {
  padding: 2.928em 1em 0 1em;
  font-size: 1.4em;
  line-height: 1.4em; }

.equipe__title {
  font-size: 4.8em;
  padding-top: 1em; }

.equipe__membre {
  padding-top: 5em; }
  .equipe__membre--francois {
    border-left: 1px solid #979797;
    padding-left: 4.7em; }

.membre__title {
  font: 3em "Quicksand", Arial, sans-serif;
  padding-bottom: 1.2em; }

.membre__text {
  font-size: 1.4em;
  line-height: 1.8em;
  text-align: left;
  padding: 2em 2em 2em 0em; }

@media screen and (max-width: 1133px) {
  .equipe__membre {
    width: 100%;
    margin: auto; }
    .equipe__membre--francois {
      border-left: none;
      border-top: 1px solid #979797; } }

@media screen and (max-width: 511px) {
  .equipe__membre {
    float: none; }
    .equipe__membre--francois {
      padding: 2em 0 0 0; } }

@media screen and (max-width: 347px) {
  .description {
    width: 100%;
    margin: 0;
    padding: 0;
    margin: auto; } }

/* BAOBAB Project
 *
 * /sass/components/courtmetrage.scss - design of courtmetrage stylesheet
 *
 * coded by Dylan Schirino
 * started at 02/04/2016
 */
.imagecover {
  position: relative; }
  .imagecover__title {
    font-size: 6.4em;
    text-align: right;
    padding-top: 0.703125em;
    padding-right: 1.5em; }

.videolist {
  background-color: #17100e;
  padding: 8em 0; }
  .videolist__button {
    background-color: #E28139;
    font-size: 1.8em;
    line-height: 3.7em;
    color: white;
    text-align: center;
    border-radius: 5px; }

.cards {
  color: white;
  padding-top: 7.5em; }
  .cards__list {
    border-top: 1px solid white;
    padding: 1.3em 0; }
  .cards__link {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    transition: .2s linear; }
    .cards__link:hover {
      text-decoration: underline; }
  .cards__title {
    font: 2.6em "Quicksand", Arial, sans-serif;
    padding-bottom: 0.6538em; }

.icon__element {
  font-size: 1.2em;
  padding-bottom: 2.3em; }
  .icon__element--right {
    font-size: 1.2em;
    padding-bottom: 2.3em; }
  .icon__element--lieu::before {
    content: "\e950";
    font: 1.8em "glyphs";
    padding-right: 1em; }
  .icon__element--duree::before {
    content: "\e939";
    font: 1.8em "glyphs";
    padding-right: 1em; }
  .icon__element--date::before {
    content: "\e94d";
    font: 1.8em "glyphs";
    padding-right: 1em; }
  .icon__element--theme::before {
    content: "\e945";
    font: 1.8em "glyphs";
    padding-right: 1em; }
  .icon__element--langue::before {
    content: "\e949";
    font: 1.8em "glyphs";
    padding-right: 1em; }
  .icon__element--soustitre::before {
    content: "\e954";
    font: 1.8em "glyphs";
    padding-right: 1em; }
  .icon__element--participant::before {
    content: "\e94c";
    font: 1.8em "glyphs";
    padding-right: 1em; }

/* BAOBAB Project
*
* /sass/components/video.scss - design of video stylesheet
*
* coded by Dylan Schirino
* started at 03/05/2016
*/
.video {
  color: white;
  background-color: #17100e;
  padding-bottom: 3em; }
  .video__title {
    font-size: 6.4em;
    padding-top: 2em; }
  .video__subtitle {
    font: 6.4em "Amatic", sans-serif;
    text-align: right;
    padding-right: 1.5625em; }
  .video__link {
    font-size: 2em;
    font-weight: bold;
    display: block;
    color: white;
    padding: 1em;
    border: 3px solid white;
    border-bottom: none; }
    .video__link:hover {
      transform: translateY(-10px); }
    .video__link--diffusion {
      border: 3px solid #1F5274; }
      .video__link--diffusion:hover {
        background-color: white;
        color: black;
        transform: none; }

@media screen and (max-width: 473px) {
  .voirfilm__text {
    width: 90%;
    padding: 1em; }
  .video__title, .video__subtitle {
    font-size: 4em;
    padding: 0.4em 0;
    text-align: center; } }

.voirfilm__title {
  font-size: 4em;
  padding: 1em 0; }

.voirfilm__text {
  font-size: 1.4em;
  line-height: 1.6em;
  text-align: left; }

.discover__text {
  font-size: 1.6em;
  line-height: 1.8em;
  padding: 2em 0; }

.discover__title {
  font-size: 5em; }

.discover__image {
  padding: 2em; }

@media screen and (max-width: 754px) {
  .discover {
    padding: 0;
    width: 90%;
    margin: auto; }
    .discover__image {
      padding: 0;
      max-width: 90%;
      height: auto; } }

.makingof__title {
  font-size: 5em;
  padding-bottom: 1em; }

.fichetechnique__title {
  font-size: 4em;
  padding-bottom: 1em; }

.fichetechnique__table {
  font-size: 1.5em;
  line-height: 1.7em; }

.table__caption {
  font: 2em "Amatic", sans-serif;
  line-height: 2.2em; }

.table__row {
  border-bottom: 1px solid white;
  transition: .2s linear; }
  .table__row:hover {
    background-color: #ccc;
    color: black; }

.table__data {
  padding: 1em 0; }

.table__head {
  padding: 1em 2em 1em 0;
  font-weight: bold; }

/* BAOBAB Project
*
* /sass/components/diffusion.scss - design of diffusion stylesheet
*
* coded by Dylan Schirino
* started at 05/05/2016
*/
.diffusion {
  background: #c77d0c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c77d0c 1%, #954705 100%);
  background: -webkit-linear-gradient(top, #c77d0c 1%, #954705 100%);
  background: linear-gradient(to bottom, #c77d0c 1%, #954705 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77d0c', endColorstr='#954705',GradientType=0 );
  /* IE6-9 */
  opacity: 0.8;
  background: url("../img/diffusion.jpg") no-repeat center;
  background-size: cover; }
  .diffusion__title {
    font-size: 4.8em;
    padding-top: 0.8958em;
    padding-right: 2.8541666667em; }
  .diffusion__form {
    padding-top: 8.5em; }
  .diffusion__label {
    font-size: 1.8em;
    padding: 0.611em 0;
    text-shadow: 0px 0.5px black; }
    .diffusion__label--textarea {
      padding-top: 1em; }
  .diffusion__input {
    border: none;
    padding-left: 1em;
    border-radius: 5px;
    border: 1px solid black; }
  .diffusion__submit {
    border: none;
    background-color: #0098FF;
    font: 1.6em "Quicksand", Arial, sans-serif;
    color: white;
    border-radius: 5px;
    -webkit-appearance: none; }
    .diffusion__submit:hover, .diffusion__submit:focus {
      cursor: pointer;
      background-color: white;
      color: #0098FF; }

@media screen and (max-width: 429px) {
  .diffusion__title {
    text-align: center;
    padding: 0;
    padding-top: 1em; } }

/* BAOBAB Project
 *
 * /sass/components/animetoimeme.scss - design of animetoimeme stylesheet
 *
 * coded by Dylan Schirino
 * started at 05/05/2016
 */
.animetoimeme__title {
  font-size: 6.4em;
  background-color: #E27526;
  padding: 0.3125em 0; }

@media screen and (max-width: 459px) {
  .animetoimeme__title {
    font-size: 4.4em; } }

.door__link {
  font: 3.6em "Amatic", sans-serif;
  background-color: #D8B8A5;
  color: black;
  padding-top: 0.4167em;
  border: 1px solid black;
  transition: .2s linear; }
  .door__link:hover {
    opacity: .5; }
  .door__link--dessine {
    background-color: #14CC4C; }

.door__image {
  display: block; }

/* BAOBAB Project
 *
 * /sass/components/ministudio.scss - design of ministudio stylesheet
 *
 * coded by Dylan Schirino
 * started at 05/05/2016
 */
.ministudio__explain {
  font-size: 1.6em;
  padding: 1em; }

.timeline {
  position: relative; }
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    width: 2px;
    background: black; }
  .timeline__element {
    background-color: #F89F1F;
    font: 4.8em "Amatic", sans-serif;
    border-radius: 50%;
    text-align: center;
    line-height: 1.7em;
    position: relative; }

/* BAOBAB Project
 *
 * /sass/components/donate.scss - design of donate stylesheet
 *
 * coded by Dylan Schirino
 * started at 05/05/2016
 */
.bckg {
  background-color: #D8D8D8;
  padding-top: 2em; }

.donate {
  background-color: #DEE4EA;
  border-radius: 5px;
  text-align: center; }
  .donate__title {
    font: 3.6em "Quicksand", Arial, sans-serif;
    text-transform: uppercase;
    padding: 2.1111em 0 1.444em 0; }
  .donate__label {
    font-size: 1.4em;
    line-height: 1.7em;
    padding-bottom: 1em; }
  .donate__input {
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    -webkit-appearance: none; }
  .donate__submit {
    font: 1.5em "Quicksand", Arial, sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #06A182;
    -webkit-appearance: none;
    transition: .2s ease-in-out; }
    .donate__submit:hover, .donate__submit:focus {
      cursor: pointer;
      color: #06A182;
      background-color: white;
      border: 1px solid #06A182; }

/* BAOBAB Project
 *
 * /sass/components/contact.scss - design of contact stylesheet
 *
 * coded by Dylan Schirino
 * started at 10/05/2016
 */
.contactinfo__container--mail {
  background-color: #D8B8A5; }

.contactinfo__container--whatsapp {
  background-color: #ECA67D; }

.contactinfo__container--phone {
  background-color: #D37842; }

.contactinfo__title {
  font-size: 4.8em; }

.contactinfo__label {
  font-size: 2em;
  padding-top: 1.55em; }

.contactinfo__link {
  font-size: 1.5em;
  color: white; }
  .contactinfo__link::after {
    padding-left: 1.2em;
    font: 4em "glyphs"; }
  .contactinfo__link--mail::after {
    content: "\e93d"; }
  .contactinfo__link--whatsapp::after {
    content: "\e955";
    padding-left: 2.2em; }
  .contactinfo__link--phone::after {
    content: "\e94f";
    padding-left: 2.4em; }

.contactinfo__formlabel {
  font-size: 1.7em;
  padding: 1em 0; }
  .contactinfo__formlabel:first-child {
    padding: 0;
    padding-bottom: 1em; }

.contactinfo__input {
  border: none;
  padding-left: 1em;
  border: 1px solid black;
  background: none; }

.contactinfo__submit {
  font: 1.71em "Quicksand", Arial, sans-serif;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #D8B8A5;
  border: none;
  transition: .2s ease-in-out;
  -webkit-appearance: none; }
  .contactinfo__submit:hover {
    cursor: pointer;
    background-color: #D37842;
    color: white; }

@media screen and (max-width: 394px) {
  .maps__image {
    display: none; }
  .contactinfo__link::after {
    padding-left: 0.7em; }
  .contactinfo__link--mail::after {
    padding-left: 0; } }

/* BAOBAB Project
 *
 * /sass/components/footer.scss - design of footer stylesheet
 *
 * coded by Dylan Schirino
 * started at 24/04/2016
 */
.footer {
  background-color: #4E727B; }

.follow__title {
  font: 1.8em "Quicksand", Arial, sans-serif;
  color: white;
  padding: 1.166em 0 1.66em 0;
  text-align: center; }

.follow__element {
  font-size: 1.2em;
  display: inline-block;
  padding-left: 2em;
  transition: .2s linear; }

.follow__link {
  color: white;
  text-align: center;
  transition: .2s linear; }
  .follow__link:hover {
    color: black; }
  .follow__link--facebook::before {
    padding-bottom: 6px;
    content: "\e93e";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--vimeo::before {
    padding-bottom: 6px;
    content: "\e952";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--youtube::before {
    padding-bottom: 6px;
    content: "\e956";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--instagram::before {
    padding-bottom: 6px;
    content: "\e901";
    display: block;
    font: 3em "glyphs"; }
  .follow__link--twitter::before {
    padding-bottom: 6px;
    content: "\e902";
    display: block;
    font: 3em "glyphs"; }

.contact__title {
  font: 1.8em "Quicksand", Arial, sans-serif;
  color: white;
  padding: 1.166em 0 1.66em 0;
  text-align: center; }

.contact__element {
  font: 1.8em "Quicksand", Arial, sans-serif;
  color: white;
  padding-bottom: 1em; }

.contact__link {
  color: white;
  font-weight: bold;
  letter-spacing: 1px; }

/*# sourceMappingURL=styles.css.map */